/* moe.tabs style: */

<style>
	/* welcome section directly below carousel*/
			.welcome {
				text-align:center;
				font-family: "Lucida Sans Typewriter", Times, serif;
				
			}

			.welcome h3 {
				font-size: 40px;
				text-align:center;
				font-family: "Lucida Sans Typewriter", Times, serif;
				padding: 25px;
			}

			.welcome p {
				margin-left: 50px;
				margin-right: 50px;
				padding: 25px;
				text-align: center;
				font-family: "Lucida Sans Typewriter", Times, serif;

				
			}

	/* album sections with all listed*/

			.albums {
				background-color: black;
				color:white;
				padding: 20px 100px;

			}

			.albums h2 {
				color: white;
				text-align: center;
				font-family: "Lucida Sans Typewriter", Times, serif;
				padding: 85px;
			}

			.albums p {
				color: black;
				font-family: "Lucida Sans Typewriter", Times, serif;
				white-space: nowrap; 
				text-overflow:;
			}


			.thumbnail {
		      padding: .5%;
		      border-radius: 0.5;
		      margin-bottom: 20px;
	   		  margin-top: 20px;
	   		  margin-right: 25px;
	   		  margin-left: 25px;

		     
	 		 }

	  		img {
	   			 
	   			 height: 195px;
	   			 width: 195px;
	   			 padding: 30px 15px 15px 15px;
	   			 
			}

	/*album titles*/	

			.albumtitle h2 {
				margin: 50px;
				text-align: center;
				color: black;
				font-family: "Lucida Sans Typewriter", Times, serif;
			}

			.albumtrack {
				padding-bottom: 25px;
				margin-bottom: 50px;
			}

			.albumtrack li  {
				
				color: black;
				text-align: center;
				list-style-type: none;
				font-family: "Lucida Sans Typewriter", Times, serif;

			}

			.albumtrack li a {
				color: black;
				font-family: "Lucida Sans Typewriter", Times, serif;


			}

			li a {
				font-family: "Lucida Sans Typewriter";
			}

			a.navbar-brand {
				font-family: "Lucida Sans Typewriter";
			}
	/*songtitle*/
			.songtitle {
				margin: 50px;
				text-align: center;
				color: black;
				font-family: "Lucida Sans Typewriter", Times, serif;
			}

			.tabholder {
				margin: 20px;

				padding-bottom: 50px;
			}


	/* button?*/
			.btn {
				 margin:10px;
		 	  	 background-color: #333;
		 	  	 color: #f1f1f1;
		 	  	 border-radius: 0.5;
		 	  	 opacity: 0.8;

			}

			.btn:hover { 
    			color: white;   			
		 	  	opacity: 1;
			}
			
	/* carousel stuff*/
			.carousel-inner img {
			    -webkit-filter: grayscale(90%);
			    filter: grayscale(90%); /* make all photos black and white */ 
			    width: 100%; /* Set width to 100% */
			    margin: auto;
			}			

			.carousel { 
				max-height: 550px; 
				overflow: hidden;
			}

	/* poop.. testing stuff */

			.poop {
				color: pink;
				margin-top: 100px;
			}

			.space {
				background-color: black;
				padding: 50px;
				color: white;
				text-align: center;
			}

			
</style>









